:root {
    font-size: 20px;
    --gridEdge: 0;
}

#appRoot {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgb(58, 165, 214);
}

.board-container {
    width: 70vw;
    height: 70vw;
    margin: 60% auto;
    background-color: seagreen;
    display: grid;
    grid-template-columns: repeat(var(--gridEdge), 1fr);
}