:root {
    font-size: 20px;
    --gridEdge: 0;
}

#appRoot {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgb(58, 165, 214);
}

.board-container{
    position: fixed;
    top: 60vw;
    left: 15vw;
    width: 70vw;
    height: 70vw;
    z-index: 0;
    background-color: seagreen;
    display: grid;
    grid-template-columns: repeat(var(--gridEdge), 1fr);
}

.gameOverModal {
    position: fixed;
    top: 70vw;
    left: 25vw;
    width: 50vw;
    height: 50vw;
    background-color: sandybrown;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}